@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: #f4f4f4;
  font-family: 'Tenor Sans', sans-serif;
}

.chatrooms {
  margin-top: 20px;
  margin-bottom: 20px;
}

.chatroom {
  margin-top: 20px;
  margin-bottom: 20px;
}

.emoticon-group {
  margin-bottom: 20px;
  .emoticon {
    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -ms-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
    border: 1px solid gray;
    &:hover {
      -webkit-transform:scale(1.2);
      -moz-transform:scale(1.2);
      -ms-transform:scale(1.2);
      -o-transform:scale(1.2);
      transform:scale(1.2);
    }
  }
}
